<!--domain search promo start-->
<section class="position-relative zindex-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8 col-12">
                <div class="domain-search-wrap border gray-light-bg">
                    <h4 class="text-center">Looking For Domain Name?</h4>
                    <form action="domain-search-result.php" method="GET" class="domain-search-form my-4">
                        <input type="text" name="domain" id="domain" class="form-control" placeholder="yourdomainname.com" />
                        <div class="select-group">
                            <select name="domainType" class="form-control">
                                <option value="com" selected>.com</option>
                                <option value="net">.net</option>
                                <option value="io">.io</option>
                                <option value="info">.info</option>
                                <option value="store">.store</option>
                                <option value="store">.org</option>
                            </select>
                            <button type="submit" class="btn btn-brand-01"><i class="fas fa-search pr-1"></i> Search</button>
                        </div>
                    </form>
                    <div class="domain-list-wrap text-center">
                        <ul class="list-inline domain-search-list">
                            <li class="list-inline-item bg-white border rounded"><a href="#"><img src="assets/img/com.png" alt="com" width="70" class="img-fluid"> <span>$8.99</span></a>
                            </li>
                            <li class="list-inline-item bg-white border rounded"><a href="#"><img src="assets/img/online.png" alt="com" width="70" class="img-fluid"> <span>$0.99</span></a>
                            </li>
                            <li class="list-inline-item bg-white border rounded"><a href="#"><img src="assets/img/net.png" alt="com" width="70" class="img-fluid"> <span>$4.99</span></a>
                            </li>
                            <li class="list-inline-item bg-white border rounded"><a href="#"><img src="assets/img/org.png" alt="com" width="70" class="img-fluid"> <span>$2.99</span></a>
                            </li>
                            <li class="list-inline-item bg-white border rounded"><a href="#"><img src="assets/img/store.png" alt="com" width="70" class="img-fluid"> <span>$0.99</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--domain search promo end-->
